body {
  background-image: url("img/bg.jpg"); /* Gambar background */
  background-size: cover; /* Gambar menyesuaikan ukuran area */
  background-position: center; /* Gambar di tengah halaman */
  height: 200vh; /* Mengatur tinggi halaman */
  color: #fff; /* Warna teks */
  padding: 100px 0;
}

.navbar {
  /* Warna latar belakang navbar dengan transparansi */
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  backdrop-filter: blur(8px); /* Memberikan efek blur */
  -webkit-backdrop-filter: blur(8px); /* Dukungan browser lama */
}

.navbar a:hover {
  color: #798a98;
}

#jumbotron {
  padding-top: 2rem;
  margin-top: 40px;
  /* background-color: #b6bbd1; */
}

#button-download {
  background-color: #b6bbd1;
}

#lead {
  font-family: "Courier New", Courier, monospace;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid #000;
  animation: blink 0.7s step-end infinite;
}

@keyframes blink {
  from {
    border-color: transparent;
  }
  to {
    border-color: black;
  }
}

#thick-hr {
  border: 2px solid#fbf7f7; /* Atur ketebalan dan warna sesuai kebutuhan */
  width: 80%;
  margin: 0 auto;
}

.icon {
  color: #798a98 !important;
}

.dark-mode {
  background-color: #273036;
  color: white;
}

.dark-mode #wave {
  fill: #607180;
}

.dark-mode #dark-mode {
  color: #fff;
}

.dark-mode #button-download {
  background-color: #798a98;
}

.dark-mode #download-cv {
  color: #fff;
}

.dark-mode #thick-hr {
  border: 2px solid #fffefe; /* Atur ketebalan dan warna sesuai kebutuhan */
  width: 80%;
  margin: 0 auto;
}

.card {
  padding: 1.5em 0.5em 0.5em;
  border-radius: 2em;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.social {
  padding: 1.5em 0.5em 0.5em;
  border-radius: 2em;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.about {
  transform: translateY(20px);
  opacity: 0;
  transition: 2s ease;
}

.about--visible {
  transform: translateY(0);
  opacity: 1;
}

.card-stack {
  position: relative;
  transition: transform 0.3s, z-index 0.3s;
}

.card-stack:hover {
  z-index: 10; /* Memposisikan kartu di depan */
  transform: translateY(-10px); /* Mengangkat kartu saat hover */
}

.project-card {
  perspective: 1000px;
}

.project-card .card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform-style: preserve-3d;
  position: relative;
  z-index: 0;
}

.project-card:hover .card {
  transform: rotateY(0deg); /* Mengembalikan posisi menjadi lurus */
  z-index: 10; /* Memposisikan kartu di depan */
}

.project-card:not(:hover) .card {
  transform: rotateY(30deg); /* Memberikan efek miring pada posisi awal */
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-body {
  background-color: #fff;
  padding: 15px;
  text-align: center;
}

.card-text {
  font-size: 1.2rem;
  color: #333;
}

.dark-mode .about {
  background-color: #607180;
  transform: translateY(20px);
  opacity: 0;
  transition: 2s ease;
}

.dark-mode .about--visible {
  transform: translateY(0);
  opacity: 1;
}

.projects {
  transform: translateY(20px);
  opacity: 0;
  transition: 2s ease;
}

.projects--visible {
  transform: translateY(0);
  opacity: 1;
}

.btn-floating {
  position: fixed;
  right: 25px;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  border: 0;
  z-index: 9999;
  color: white;
  transition: 0.2s;
}

.btn-floating:hover {
  width: auto;
  padding: 0px 30px;
  cursor: pointer;
}

.btn-floating span {
  font-size: 16px;
  margin-left: 5px;
  transition: 0.2s;
  line-height: 0px;
  display: none;
}

.btn-floating:hover span {
  display: inline-block;
}

.btn-floating:hover img {
  margin-bottom: -3px;
}

.btn-floating.whatsapp {
  bottom: 25px;
  background-color: #34af23;
  border: 2px solid #fff;
}

.btn-floating.whatsapp:hover {
  background-color: #1f7a12;
}

.btn-floating.instagram {
  bottom: 85px;
  background: radial-gradient(
      circle farthest-corner at 35% 90%,
      #fec564,
      transparent 50%
    ),
    radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
    radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
    radial-gradient(
      ellipse farthest-corner at 20% -50%,
      #5258cf,
      transparent 50%
    ),
    radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
    radial-gradient(
      ellipse farthest-corner at 60% -20%,
      #893dc2,
      transparent 50%
    ),
    radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
    linear-gradient(
      #6559ca,
      #bc318f 30%,
      #e33f5f 50%,
      #f77638 70%,
      #fec66d 100%
    );
  border: 2px solid #fff;
}

.btn-floating.gmail {
  bottom: 145px;
  background-color: red;
  border: 2px solid #fff;
}

@media screen and (max-width: 768px) {
  body {
    padding: 50px 20px;
  }
  .profile-picture img {
    width: 100%;
    max-width: 300px;
  }
  .card {
    padding: 20px;
  }
  .btn-floating {
    background-color: transparent;
  }
}
