.jumbotron {
  padding-top: 2rem;
  background-color: #b6bbd1;
}

#projects {
  background-color: #b6bbd1;
}

.card {
  padding: 1.5em 0.5em 0.5em;
  border-radius: 2em;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.social {
  padding: 1.5em 0.5em 0.5em;
  border-radius: 2em;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.about {
  transform: translateY(20px);
  opacity: 0;
  transition: 2s ease;
}

.about--visible {
  transform: translateY(0);
  opacity: 1;
}

.projects {
  transform: translateY(20px);
  opacity: 0;
  transition: 2s ease;
}

.projects--visible {
  transform: translateY(0);
  opacity: 1;
}
.contact {
  transform: translateY(20px);
  opacity: 0;
  transition: 1s ease;
}

.contact--visible {
  transform: translateY(0);
  opacity: 1;
}
